# Minimal MANS config example
backend=0
dtype=0
adm_threshold=4000
adm_decide_threads=16

# Optional thread tuning
adm_center_calc_threads=32
adm_encode_threads=32
adm_warp_reduce_threads=32
adm_fill_tail_threads=32
adm_write_back_threads=32
adm_restore_signals_threads=32
adm_decode_values_threads=32
